body
{
	margin:75px 0px 0px 0px;
}
div#top_wrapper
{
	width:100%;
	height:400px;
	float:left;
	background-color:#252525;
}
div#top_wrapper_inr
{
	width:944px;
	height:400px;
	margin:0px auto;
}
div#user_cover
{
	width:904px;
	height:360px;
	margin:20px;
	float:left;
	background-color:#fff;
	background-size:904px 360px;
	background-attachment:fixed;
	background-position:bottom;
}
div#user_cover_photo
{
	width:904px;
	height:300px;
	float:left;
}
div#user_cover_photo_profile_picture
{
	width:128px;
	height:128px;
	border:solid 5px #6646AC;
	margin:64px auto 0px auto;
	background-color:#000;
}
div#user_cover_photo_profile_picture img
{
	width:128px;
	height:128px;
	float:left;
}
div#user_cover_photo_profile_name
{
	width:904px;
	height:25px;
	margin:10px auto;
	text-align:center;
	color:#fff;
	font-size:20px;
}
div#user_cover_follow
{
	width:904px;
	height:53px;
	float:left;
}
form#user_cover_follow_form
{
	width:195px;
	height:53px;
	float:left;
}
input#user_cover_follow_form_button
{
	width:195px;
	height:53px;
	float:left;
	border:none;
	outline:none;
	color:#fff;
	background-color:#6646AC;
}
input#user_cover_unfollow_form_button
{
	width:195px;
	height:53px;
	float:left;
	border:none;
	outline:none;
	color:#fff;
	background-color:#6646AC;
}
div#user_cover_function_bar
{
	width:904px;
	height:60px;
	float:left;
}
a.user_cover_function_bar_item
{
	width:224px;
	height:60px;
	float:left;
	text-align:center;
	line-height:60px;
	cursor:pointer;
	border-left:solid 1px #ddd;
	border-right:solid 1px #fff;
	background:rgb(255,255,255);
	background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background:-o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background:-ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background:linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}
a.user_cover_function_bar_item:hover
{
	background:#e5e5e5;
	background:-moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff));
	background:-webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
	background:-o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
	background:-ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
	background:linear-gradient(to bottom, #e5e5e5 0%,#ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}
div#post_holder
{
	width:944px;
	margin:0px auto;
}
div#post_holder_inr
{
	width:904px;
	min-height:700px;
	float:left;
	margin:20px;
	background-color:#ccc;
}